.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

}

.nav-header {
    list-style-type: none;
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.header-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 24.3px */
}

.logo {
    display: flex;
    width: 1400px;
    height: 552px;

}

.photo {

    background-color: #00BDC9;
    width: 599px;
    height: 368px;
    flex-shrink: 0;
    display: flex;
    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center
}

.logo-text {
    color: #FAFAFA;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: calc(115% * 55.2px);

}

.content-div {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    /* 64.8px */

}

.text-div {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;

    width: 856px;

}

.paragraph {
    text-align: center;
    color: #161616;
    width: 856px;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(150% * 31.5px);
    /* 31.5px */
}

.sentence {

    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(150% * 31.5px)
}

.note {
    display: flex;
    padding-top: 24px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 856px;
    height: 351px;

}

.note-li {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 27px);
    /* 27px */

}

.button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;



}

.text-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(135% *24.3px);
    /* 24.3px */

}

.line {
    height: 1px;
    align-self: stretch;
    background: #161616;

}

.footer {
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-text {
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(150% * 27px)
}